.row
  .col-md-12
    %h1 Soaps

- if @soaps.any?
  .row
    .col-md-12
      = link_to 'New', new_soap_path, class: 'btn btn-default'

.row
  .col-md-12
    - if @soaps.any?
      %ol
        - @soaps.each do |soap|
          %li
            = link_to soap.name, soap

    - else
      .jumbotron
        - if @brands.any?
          %p There are no soaps yet. Want to make one?
          = link_to 'New Soap', new_soap_path, class: 'btn btn-default'

        - else
          %p There are no soaps, and no brands yet. Want to make a new brand first?
          = link_to 'New Brand', new_brand_path, class: 'btn btn-default'
