.row
  .col-md-12
    %h1 Blades

- if @blades.any?
  .row
    .col-md-12
      = link_to 'New', new_blade_path, class: 'btn btn-default'

.row
  .col-md-12
    - if @blades.any?
      %ol
        - @blades.each do |blade|
          %li
            = link_to blade.name, blade

    - else
      .jumbotron
        - if @brands.any?
          %p There are no blades yet. Want to make one?
          = link_to 'New Blade', new_blade_path, class: 'btn btn-default'

        - else
          %p There are no blades, and no brands yet. Want to make a new brand first?
          = link_to 'New Brand', new_brand_path, class: 'btn btn-default'
