.row
  .col-md-12
    %h1 #{ @blade.name }

.row
  .col-md-12
    = link_to 'Edit', edit_blade_path(@blade), class: 'btn btn-default'

.row
  .col-md-12
    %p
      = @blade.description

.row
  .col-md-12
    %strong Brand:
    = link_to @blade.brand.name, @blade.brand
