.row
  .col-md-12
    %h1 Products

- if @products.any?
  .row
    .col-md-12
      = link_to 'New', new_product_path, class: 'btn btn-default'

.row
  .col-md-12
    - if @products.any?
      %ol
        - @products.each do |product|
          %li
            = link_to product.name, product

    - else
      .jumbotron
        %p There are no products yet. Want to make one?
        = link_to 'New product', new_product_path, class: 'btn btn-default'
