.row
  .col-md-12
    %h1 Products

- if @products.any? and current_user
  .row
    .col-md-12
      = link_to 'New', shaving.new_product_path, class: 'btn btn-default'

.row
  .col-md-12
    - if @products.any?
      %ol
        - @products.each do |product|
          %li
            = link_to product.name, product

    - else
      .jumbotron
        %p There are no products yet.
        - if current_user
          %p Want to make one?
          = link_to 'New product', shaving.new_product_path, class: 'btn btn-default'
