.row
  .col-md-4.col-md-offset-4
    %h1 Reviews

- if @reviews.any?
  .row
    .col-md-4.col-md-offset-4
      = link_to 'New', new_shaving_review_path, class: 'btn btn-default'

.row
  .col-md-4.col-md-offset-4
    - if @reviews.any?
      %ol
        - @reviews.each do |review|
          %li
            = link_to review.product.name, review

    - else
      .jumbotron
        %p There are no reviews yet. Want to make one?
        = link_to 'New Review', new_shaving_review_path, class: 'btn btn-default'
