%h1 Shaving

%section#shaving-supplies
  %ul
    - if @brands.any?
      %li
        = link_to 'Brands', shaving_brands_path

      - if @products.any?
        %li
          = link_to 'Products', shaving_products_path

    - else
      %p No brands in the system yet. Want to make one?
      = link_to 'New Brand', new_shaving_brand_path, class: 'btn btn-default'
